@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "DanaRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../_fonts/Dana-Regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Dana";
    font-style: normal;
    font-weight: normal;
    src: url("../_fonts/DanaFaNum-Medium.woff") format("woff");
  }
  h1 {
    font-size: 50px;
    font-weight: 800;
  }
  h2 {
    font-size: 40px;
    font-weight: 800;
  }
  h3 {
    font-size: 32px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
  }
  h5 {
    font-size: 20px;
    font-weight: 500;
  }
  h6 {
    font-size: 18px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
  small {
    font-size: 14px;
    font-weight: 400;
  }
}

:root {
  /*colors*/
  --primary: #fde900;
  --secondary: #76d4ec;
  --tertiary: #331209;
  --body-bg: #fafafa;
  --dark-text: #252525;
  --input-text: #424242;
  --input-bg: #f8f8f8;
  --accordion-title: #171535;
  --accordion-text: #818181;
  --discount: #ed1c1c;

  /* Gradient */
  --gradient-linear: linear-gradient(90deg, #cbcbcb 0%, #ffffff 100%);

  /*transition*/
  --transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  /* border radius */
  --border-radius-5: 5px;
  --border-radius-7: 7px;
  --border-radius-9: 9px;
  --border-radius-10: 10px;

  /* border */
  --border-primary: 1px solid var(--primary);
  --border-secondary: 1px solid var(--secondary);

  /* outline */
  --outline-primary: 1px solid var(--primary);
  --outline-secondary: 1px solid var(--secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
* {
  font-family: "Dana";
}

body {
  background-color: var(--body-bg);
}

/* remove default styles from input */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Reset common input styles */
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
  box-shadow: none;
  font: inherit;
}

/* h tags classes */
.h1 {
  font-size: 50px;
  font-weight: 800;
}
.h2 {
  font-size: 40px;
  font-weight: 800;
}
.h3 {
  font-size: 32px;
  font-weight: 700;
}
.h4 {
  font-size: 24px;
  font-weight: 600;
}
.h5 {
  font-size: 20px;
  font-weight: 500;
}
.h6 {
  font-size: 18px;
  font-weight: 500;
}

.absolute-perfect-center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.absolute-horizontally-center {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.absolute-vertically-center {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.custom-border {
  border: var(--border-secondary);
}

.custom-outline {
  outline: var(--outline-secondary);
}

.custom-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 1280px) {
  .custom-container {
    width: 1280px;
  }
}
@media only screen and (min-width: 1300px) {
  .custom-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.custom-input {
  cursor: pointer;
  background-color: var(--input-bg);
  outline: 1px solid var(--secondary);
  border-radius: var(--border-radius-5);
  -webkit-border-radius: var(--border-radius-5);
  -moz-border-radius: var(--border-radius-5);
  -ms-border-radius: var(--border-radius-5);
  -o-border-radius: var(--border-radius-5);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.custom-input::placeholder {
  color: var(--input-text);
}

.custom-input:hover {
  opacity: 0.6;
}

.custom-input:focus {
  outline: 2px solid var(--secondary);
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2a2a2a;
  cursor: pointer;
  outline: var(--outline-primary);
  background-color: var(--primary);
  border-radius: var(--border-radius-5);
  -webkit-border-radius: var(--border-radius-5);
  -moz-border-radius: var(--border-radius-5);
  -ms-border-radius: var(--border-radius-5);
  -o-border-radius: var(--border-radius-5);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.primary-btn:hover {
  background-color: var(--secondary);
  outline: var(--outline-secondary) !important;
}
.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2a2a2a;
  cursor: pointer;
  outline: var(--outline-secondary);
  background-color: var(--secondary);
  border-radius: var(--border-radius-5);
  -webkit-border-radius: var(--border-radius-5);
  -moz-border-radius: var(--border-radius-5);
  -ms-border-radius: var(--border-radius-5);
  -o-border-radius: var(--border-radius-5);
  transition: var(--transition);
}
.secondary-btn:hover {
  background-color: var(--primary);
  outline: var(--outline-primary) !important;
}

/* hero */
.search-tab-active {
  position: relative;
  color: #2a2a2a;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.search-tab-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--gradient-linear);
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}
.dropdonw-content-item {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: var(--border-radius-5);
  -webkit-border-radius: var(--border-radius-5);
  -moz-border-radius: var(--border-radius-5);
  -ms-border-radius: var(--border-radius-5);
  -o-border-radius: var(--border-radius-5);
}
.dropdonw-content-item:hover {
  background-color: #f3f3f3;
}

/* options */
.first-option {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/* flights */
.flight-tab-active {
  color: var(--tertiary);
  border-bottom: 2px solid var(--tertiary);
}

.flight-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(0deg, #040404 0%, rgba(41, 41, 41, 0) 100%);
}

/* latest tours */
.latest-tours-title {
  position: relative;
}
.latest-tours-title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  right: 0;
  bottom: 10%;
  background-color: var(--tertiary);
}

.tour-tab-active {
  color: var(--tertiary);
  font-weight: bold;
}

/* hotels */
.hotel-card-image-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* common questions */
.question-tab-active {
  color: var(--tertiary);
  border-bottom: 4px solid var(--tertiary);
  font-weight: 600;
}

.transition-transform {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
  }
}

.navbar.slide-in {
  animation: slideIn 0.3s forwards;
  -webkit-animation: slideIn 0.3s forwards;
}

.navbar.slide-out {
  animation: slideOut 0.3s forwards;
  -webkit-animation: slideOut 0.3s forwards;
}

/* products page */
.products-hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.paging-item {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #edeff1;
  color: #637381;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.paging-item:hover {
  opacity: 0.5;
}

.paging-item.active-page {
  background-color: var(--secondary) !important;
  color: white !important;
  border: var(--border-secondary) !important;
}

/* magazines */
.magazine-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    360deg,
    rgba(11, 11, 11, 0.7) 0%,
    rgba(9, 9, 9, 0) 100%
  );
}

@media only screen and (min-width: 1300px) {
  .magazine-card {
    width: 421px !important;
  }
}

.footer-bg-logo {
  z-index: -1;
}


.createChildDropdown{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.createChildDropdown select{
  padding:8px;
  border-radius:16px;
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  -ms-border-radius:16px;
  -o-border-radius:16px;
}
